doctype html
html
  head
    title #{pkg.name}

    link(rel="stylesheet" type="text/css" href="#{css}" media="all")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    .app
    script(type="text/javascript" src="#{js}")
