.results-container
  .line-item
    .line-item-title Quality of Naming
    .line-item-percentage
      .line-item-percentage-amount
    .line-item-grade B
  .line-item
    .line-item-title Code Repition
    .line-item-percentage
      .line-item-percentage-amount
    .line-item-grade D
  .line-item
    .line-item-title Memory Leaks
    .line-item-grade C
    .line-item-percentage
      .line-item-percentage-amount
  .line-item
    .line-item-title Testing
    .line-item-percentage
      .line-item-percentage-amount
    .line-item-grade A
  .line-item
    .line-item-title Minimal Dependencies
    .line-item-percentage
      .line-item-percentage-amount
    .line-item-grade F
