.results-container
  - for(var k in grades)
    .line-item
      .line-item-title #{grades[k].name}
      .line-item-percentage
        .line-item-percentage-amount(data-js-percentage)
      .line-item-grade #{grades[k].letter}
