.container
  .input-container
    .overall-grade
      .overall-grade-letter A
    .input-content(data-js-results)
      form
        input(type="text" name="github" value="#{github}" placeholder="Github User Name" autocomplete="off" data-js-input)
    .input-border
