.row
  .col-md-6
    h1 Who writes good code?
.row
  .col-md-4
    form
      .form-group
        label.sr-only(for="github-username") Github username
        .input-group
          - github = ""
          input#github-username.form-control(type="search" name="github" value="#{github}" placeholder="Github User Name")
          span.input-group-btn
            button.btn.btn-search.btn-info(type="submit")
              .magnifying-glass-transform &#9906;
