.container(data-js-app-root)
  .input-container
    .overall-grade.invisible(data-js-overall-grade)
      .overall-grade-letter(data-js-overall-grade-letter)
    .input-content(data-js-results-marker)
      form
        input(type="text" name="github" value="#{github}" data-js-search-input placeholder="Github User Name" autocomplete="off" data-js-input)
      div(data-js-results)
    .input-border
