.container
  .input-container
    .input-border
    .input-content(data-js-results)
      form
        input(type="text" name="github" value="#{github}" placeholder="Github User Name" autocomplete="off" data-js-input)
